* {
    outline: 1px solid orange;
    /* width: 100%; */
    box-sizing: border-box;
}

/**** cursive fancy ****/
/* font-family: 'Yellowtail', cursive; */

/**** typewriter'ish ****/
/* font-family: 'IBM Plex Mono', monospace; */

/**** kid font (for recipe list) ****/
/* font-family: ‘Patrick Hand’, cursive; */

.container {
    margin: 0 auto;
    width: 75%;
}

.nav-bar {
    position: relative;
    margin-top: 2em;
}

.logo {
    height: 3em;
    position: absolute;
    margin-top: 5px;
}

.delicious {
    font-family: 'Yellowtail', cursive;
    font-size: 4vw;
    font-weight: 600;
    margin-left: 1em;
    position: absolute;
}

p {
    color: rgb(104, 103, 103);
    font-family: 'IBM Plex Mono', monospace;
    font-size: xx-small;
    margin-left: 5.5em;
    margin-top: 4.5em;
    position: absolute;
}

.social-icons {
    float: right;
}

.social {
    width: 1.5em;
}

.clearfix {
    overflow: auto;
}

/* .empty-class {
} */

h2 {
    margin: 6em 0 0 0;
    padding: 8px;
}

/***** stripe *****/
.stripe {
  background-image: linear-gradient(45deg, #ffffff 28.57%, #e0e0e0 28.57%, #e0e0e0 50%, #ffffff 50%, #ffffff 78.57%, #e0e0e0 78.57%, #e0e0e0 100%);
  background-size: 9.90px 9.90px;
}

/*****NOT THE RIGHT FONT!!!*****/
.chocolate-pizza {
    font-family: 'IBM Plex Mono', monospace;
    font-size: xx-large
}

.posted {
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
}

.pizza {
    width: 100%;
}
